<%= form_with(model: event, url: { action: "create" }, local: true) do |form| %>


  <div class="field">
    <%= form.label :upload %>
    <%= form.file_field :event_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
